.webtitle{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;

}
.headertitle{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 130px 530px;
    
    width: 632px;

}
.header{
    text-align: center;
    background-image: url('../image/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    
        width: 1320px;
     height: 600px;


}